# see docs/inline/troves/edgerouter-x/switch.cfg.md#1

set interfaces switch switch0 switch-port interface eth1
set interfaces switch switch0 switch-port interface eth2
set interfaces switch switch0 switch-port interface eth3
set interfaces switch switch0 switch-port interface eth4
delete interfaces ethernet eth1 address
set interfaces switch switch0 address dhcp
set interfaces switch switch0 description studio-switch
delete service unms
set system host-name fcpm-switch
set system time-zone America/Denver
# + set system login user ubnt authentication plaintext-password <from Credential Manager>

# see docs/inline/troves/edgerouter-x/switch.cfg.md#2

delete interfaces ethernet eth0 address
set interfaces switch switch0 switch-port interface eth0
